<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="SpellenEntities2" connectionString="metadata=res://*/Data.SpellenDb.csdl|res://*/Data.SpellenDb.ssdl|res://*/Data.SpellenDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-ODASLGV9\MSSQLSERVER01;initial catalog=Spellen;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>